<nav id="home-nav">
    <div class="logo">
        <h3>kind. <span id="beta">BETA</span></h3>
    </div>
    <div id="links">
        <% if (user) { %>
        <p id="welcome">
            Welcome, <a href="/profile"><%= user.name %>.</a>
        </p>
        <a class="nav-link" href="/about">About</a>
        <a class="nav-link" href="/contact">Contact</a>
        <form action="/logout?_method=DELETE" class="cta" method="POST">
            <input type="submit" class="cta-btn" value="Logout">
        </form>
        <% } else { %>
        <a class="nav-link" href="/login">Login</a>
        <a class="nav-link" href="/sign-up">Register</a>
        <% } %>
    </div>
</nav>