<nav>
    <div id="logo">
        <h3>Be Kind.</h3>
    </div>
    <div id="links">
        <% if (user) { %>
        <p>Welcome, <%= user.name %></p>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <form action="/logout?_method=DELETE" method="POST">
            <input type="submit" value="Logout">
        </form>
        <% } else { %>
        <a href="/login">Login</a>
        <a href="/sign-up">Register</a>
        <% } %>
    </div>
</nav>