<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- One nudge is equal to -->
    <!-- time | message -->
    <div class="nudge">
        <div class="time">
            8:00 AM
        </div>
        <div class="msg">
            Brush your teeth.
        </div>
    </div>

</body>

</html>