<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/baseHead') %>
    <link rel="stylesheet" href="/css/about.css">
    <title>About</title>
</head>

<body>
    <%- include('./partials/nav') %>
    <h1 class="page-heading">About Page</h1>
    <div class="container">
        <div id="about">
            <p>
                Etiam quis ultrices massa, sed facilisis tortor. Phasellus nulla est, feugiat nec tortor eu, pharetra
                vestibulum
                tortor.
                Phasellus interdum eros ex, vitae imperdiet odio malesuada at. Quisque luctus viverra dapibus. Mauris
                rutrum
                sodales
                nibh sit amet placerat. Praesent eu leo et magna lobortis dictum id a tellus. Ut mattis fringilla lacus
                eu
                mattis. Fusce
                facilisis orci quis facilisis malesuada. Ut urna tellus, pharetra sed malesuada sed, auctor sed leo.
                Fusce
                eu
                lacus
                dictum, pretium massa quis, vulputate turpis. Nunc pellentesque felis eu turpis fringilla mattis. Nam
                varius
                facilisis
                condimentum. Quisque blandit tellus sit amet ligula interdum tristique. Nunc fermentum sem id pulvinar
                lacinia.
            </p>

            <p>
                Aliquam luctus, purus non porta lobortis, nunc tortor dignissim magna, in sollicitudin risus mi ac enim.
                Curabitur
                venenatis id velit ut mollis. Duis pulvinar nisl nec leo tincidunt, et lobortis libero auctor. Morbi
                eget
                suscipit
                dolor. Phasellus mollis elit a dolor iaculis, a tincidunt dolor aliquet. Maecenas interdum at dui ut
                placerat.
                Fusce
                consectetur sed dolor in vehicula.
            </p>

            <p>
                Donec et augue maximus, pellentesque magna et, tempus sapien. Cras euismod laoreet ante eu placerat.
                Phasellus
                euismod
                iaculis lacus ut pellentesque. Curabitur ante sem, vulputate non ornare sit amet, semper ut urna.
                Suspendisse in
                justo
                erat. Maecenas porta, risus et aliquam blandit, diam dolor imperdiet tortor, eget egestas erat justo
                sollicitudin enim.
                Morbi ut massa consequat, vehicula arcu a, tristique urna.
            </p>
        </div>


    </div>
</body>

</html>