<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/baseHead') %>
    <link rel="stylesheet" href="/css/about.css">
    <title>About</title>
</head>

<body>
    <%- include('./partials/nav') %>
    <h1 class="page-heading">About Page</h1>
    <div class="container">
        <div id="about">
            <p>
                Being a person in the world is hard -- and a lot of the the things we do without thinking about it makes it harder. The modern world's unyielding demand for greater and greater achievement, coupled with the constant call for performance from social media, is an exhausting background hum that drains us all, whether or not we notice it. But we believe it can be just as easy to make things a little bit better, if we pay attention to the way we speak to ourselves.
            </p>
            <p>
                So we offer you this space to practice kindness.
            </p>
        </div>


    </div>
</body>

</html>