<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/baseHead') %>
    <link rel="stylesheet" href="/css/about.css">
    <title>About</title>
</head>

<body>
    <%- include('./partials/nav') %>
    <h1 class="page-heading">About Page</h1>
    <div class="container">
        <div id="about">
            <p>
                Being a person in the world is hard - and a lot of the the things we do without much thought make it harder. Modern society's unyielding demand for greater and greater achievement, coupled with the constant call for performance from social media, is an exhausting background hum that drains us all, whether or not we notice it. But we believe it can be just as easy to make things a little bit better, if we pay attention to the way we treat and speak to ourselves.
            </p>
            <p>
                So we offer you this space to explore simple kindness. Set reminders for the small, easy-to-forget elements of daily self care - whether that's brushing your teeth or taking a walk or setting aside a little bit of time that's just for you. Write yourself a loving message; we'll hold on to it and send it back to your phone within a week. Read them out loud when they arrive, even if you're in a space where it's hard to mean it.
            </p>
            <p>Loving yourself takes practice. So practice.</p>
        </div>


    </div>
</body>

</html>