<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/baseHead') %>
    <link rel="stylesheet" href="/css/contact.css">
    <title>Contact</title>
</head>

<body>
    <%- include('./partials/nav') %>
    <h1 class="page-heading">Contact</h1>

    <div class="container">
        <div class="contact">
            <div class="contact-photo">
                <img src="/images/qms.jpg" alt="">
            </div>
            <div class="contact-card">
                <h2>Quin Sparks</h2>
                <div class="contact-info">
                    <p>
                        <strong>Email: </strong>qmsparks@gmail.com

                    </p>
                    <ul>
                        <li>
                            <a href="https://github.com/qmsparks">
                                GitHub
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/quinlansparks/">
                                Linkedin
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="contact">
            <div class="contact-photo">
                <img src="/images/jhh.jpg" alt="">
            </div>
            <div class="contact-card">
                <h2>Jason Hawk Harris</h2>
                <div class="contact-info">
                    <p>
                        <strong>Email: </strong>jasonhawkharris@gmail.com
                    </p>
                    <ul>
                        <li>
                            <a href="https://github.com/jasonhawkharris">
                                GitHub
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/harris-jason/">
                                Linkedin
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>



</body>

</html>