<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/main.js"></script>
    <title>Document</title>
</head>

<body>
    <div>
        What's something you wish someone would say to you?
    </div>
    <form action="/message" method="POST">
        <textarea name="message" id="home_message" cols="30" rows="10"></textarea></br>
        <input type="submit" value="Say it">
    </form>
</body>

</html>