<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/baseHead') %>
    <title>Home</title>
</head>

<body>
    <%- include('./partials/home-nav') %>
    <div id="first-message">
        <div>
            <p id="question">
            </p>
        </div>
        <form action="/messages" method="POST">
            <textarea name="content" id="answer" cols="30" rows="10" autofocus></textarea></br>
            <input type="submit" class="btn" value="Say it">
        </form>
    </div>

    <script src="/js/main.js" defer></script>
</body>

</html>