<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/baseHead') %>
    <title>Home</title>
</head>

<body>
    <div id="first-message">
        <div>
            <p id="question">
                What's something you wish someone would say to you?
            </p>
        </div>
        <form action="/messages" method="POST">
            <textarea name="content" id="answer" cols="30" rows="10" autofocus></textarea></br>
            <input type="submit" class="btn" value="Say it">
        </form>
    </div>
</body>

</html>