<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/baseHead') %>
    <title>Home</title>
</head>

<body>
    <nav>
        <% if (user) { %>
        <p>Welcome, <%= user.name %></p>
        <form action="/logout?_method=DELETE" method="POST">
            <input type="submit" value="Logout">
        </form>
        <% } else { %>
        <a href="/login">Login</a>
        <a href="/sign-up">Register</a>
        <% } %>
    </nav>
    <div id="first-message">
        <div>
            <p id="question">
            </p>
        </div>
        <form action="/messages" method="POST">
            <textarea name="content" id="answer" cols="30" rows="10" autofocus></textarea></br>
            <input type="submit" class="btn" value="Say it">
        </form>
    </div>

    <script src="/js/main.js" defer></script>
</body>

</html>