<!DOCTYPE html>
<html lang="en">

<head>
    <% include('./partials/baseHead.ejs') %>
    <title>Login</title>
</head>

<body>
    <form action="/login" method="POST">
        <label for="email">Email:</label>
        <input type="email" name="email" required>
        <label for="password">Password</label>
        <input type="password" name="password" required>
        <input type="submit" value="login">
    </form>
</body>

</html>