<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('./partials/nudgeboard.ejs')  %>
  <title>Profile</title>
</head>

<body>
  <nav>
    <ul>
      <li id="logo">Be Kind</li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
  <h1><%= user.name %>'s Kind Board</h1>

  <%- include('./partials/messages') %>

  <div id="nudgeboard-wrapper">
    <div id="nudge-modal">
      <form action="/nudges" method="POST">
        <input type="text" name="taskName" placeholder="A friendly nudge">
        <input type="text" name="taskDescription" placeholder="Want to say anything more about it?">
        <input type="text" name="scheduledFor">
        <input type="text" name="user" value="<%= user._id %>">
        <p id="addEvent">Add event</p>
        <input type="submit" value="Add Nudge">
      </form>
    </div>
    <div id="calendar"></div>
  </div>

</body>

</html>