<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/baseHead.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <title>Register</title>
</head>

<body>
    <%- include('./partials/login-nav')  %>
    <div class="form-container">
        <h2>Register</h2>
        <form action="/sign-up" class="form" method="POST">
            <input type="text" class="field" name="name" placeholder="What should we call you?" required>
            <input type="email" class="field" name="email" placeholder="Email" required>
            <input type="text" class="field" name="phone" placeholder="Phone Number" required>
            <input type="password" class="field" name="password" placeholder="Password" required>
            <input type="submit" class="btn" value="Sign Up">
        </form>
    </div>
</body>

</html>