<!DOCTYPE html>
<html lang="en">

<head>
    <% include('./partials/baseHead.ejs') %>
    <link rel="stylesheet" href="/css/sign-up.css">
    <title>sign-up</title>
</head>

<body>
    <form action="/sign-up" id="register" method="POST">
        <label for="name">What should we call you?</label>
        <input type="text" name="name" required>
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="email@email.com" required>
        <label for="phone">Phone Number</label>
        <input type="string" name="phone" placeholder="e.g. (555) 555-5555">
        <label for="password">Password</label>
        <input type="password" name="password">
        <input type="submit" value="Test">
    </form>
</body>

</html>