@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500;600&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');


#about {
    text-align: justify;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
    font-weight: 300;
}

#about p {
    margin-top: 20px;
    line-height: 1.4rem;
}