#form-nav, 
#home-nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 30px;
}

.logo {
    color: white;
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 2rem;
    align-self: center;
}

#welcome {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    align-self: center;
    padding-right: 40px;
    border-bottom: 1px solid;
    border-color: rgb(219, 158, 215, 0);
}

#welcome a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid;
    border-color: rgba(219, 158, 215, 0);
    transition: all .3s;
}

#welcome a:hover {
    color: rgb(212, 125, 207);
    border-color: rgb(212, 125, 207);
}

#welcome a:active {
    color: rgb(189, 69, 183);
}

.cta {
    align-self: center;
}

.cta-btn,
.say-it {
    width: fit-content;
    padding: 10px 15px;
    border-radius: 30px;
    color: white;
    font-weight: bolder;
    background-color: rgb(219, 158, 215);
    cursor: pointer;
    border: none;
    transition: all .2s;
}

.cta-btn:hover,
.say-it:hover {
    background-color: rgb(211, 127, 205);
}

.cta-btn:active,
.say-it:active {
    color: rgb(219, 158, 215);
    background-color: white;
}

.cta-btn:focus,
.say-it:focus {
    outline: 0;
}

#links {
    display: flex;
    flex-direction: row nowrap;
}

.nav-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    align-self: center;
    margin-right: 30px;
    color: #ccc;
    transition: all .2s;
    border-bottom: 1px solid;
    border-color: rgba(256, 256, 256, 0);
    text-decoration: none;
}

.nav-link:hover {
    color: rgb(219, 158, 215);
    border-bottom: 1px solid;
    border-color: rgba(219, 158, 215, 1);
}

.nav-link:active {
    color: rgb(228, 92, 42);
    border-bottom: 1px solid rgb(228, 92, 42);
}