#nudgeboard-wrapper{
  width: 500px;
  overflow: hidden;
}

ul {
  list-style-type: none;
}

#update-modal {
  display: none;
}

#nudge-modal {
  display: none;
}

#edit-nudge {
  display: none;
}

input[name="scheduledFor"] {
  display: none;
}

input[name="user"] {
  display: none;
}

