#nudgeboard-wrapper{
  width: 35%
}

ul {
  list-style-type: none;
}

#update-modal {
  display: none;
}

#nudge-modal {
  display: none;
}

input[name="scheduledFor"] {
  display: none;
}

input[name="user"] {
  display: none;
}

