@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500;600&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  background-image: url('../images/pexels-elijah-o\'donnell-3473569.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, .3);
  background-size: cover;
}

.btn {
  width: fit-content;
  padding: 5px 20px 0px 20px;
  margin: 20px;
  color: white;
  font-size: 1.2rem;
  font-family: 'Baloo Tammudu 2', cursive;
  background-color: rgba(256, 256, 256, 0);
  border-width: 1px;
  border-style: solid;
  border-color: rgba(256, 256, 256, 0.7);
  transition: background-color 0.2s, border-color 0.2s;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(256, 256, 256, 0.7);
  color: rgb(22, 23, 24);
}

.btn:active {
  background-color: rgba(256, 256, 256, 1);
  border-color: rgba(256, 256, 256, 1);
}

.btn:focus {
  outline: 0;
}

textarea {
    padding: 20px;
    border: none;
    width: 100%;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
}



/* NUDGEBOARD CSS */
#nudgeboard-wrapper{
  width: 500px;
  overflow: hidden;
}

ul {
  list-style-type: none;
}

#update-modal {
  display: none;
}

#nudge-modal {
  display: none;
}

#edit-nudge {
  display: none;
}

input[name="scheduledFor"] {
  display: none;
}

input[name="user"] {
  display: none;
}

