<div class="create-modal">
    <form action="/new-profile" method="POST">
        <input type="time" name="scheduledFor">
        <input type="text" name="content">
        <input type="submit" value="Add Nudge">
    </form>
</div>