<p class="leave">Don't want to stick around? We understand! Delete your account whenever you want.</p>

<form action="/profile?_method=DELETE" class="cta" method="POST">
    <input type="submit" class="cta-btn" value="Bye!">
</form>