<div class="edit-modal">
    <form action="/new-profile/<%= nudge._id %>?_method=PUT" method="POST">
        <input type="time" name="scheduledFor">
        <input type="text" name="content" value=<%= nudge.content%>>
        <input type="submit" value="Edit Nudge">
    </form>
</div>