<div id="update-modal">
  <form action="/profile?_method=PUT" method="POST">
  <input type="text" name="name" value="<%= user.name %> "><br>
  <input type="submit" value="Call Me This Please">
  </form>
</div>