<div id="update-modal" class="modal">
  <form action="/profile?_method=PUT" method="POST">
  <input type="text" name="name" value="<%= user.name %>"><br>
  <input type="submit" value="Call Me This Please">
  </form>
  <i class="fas fa-window-close"></i>
</div>