<div id="update-modal" class="modal">
  <form id="update-user" action="/profile?_method=PUT" method="POST">
    <input type="text" name="name" placeholder="Call me this, please"><br>
    <button class="cta-btn" type="submit">Thanks!</button>
  </form>

</div>