<div id="edit-nudge">
  <form name="edit-nudge" action="" method="POST">
    <input type="text" name="taskName">
    <input type="text" name="scheduledFor">
    <input type="text" name="user" value="<%= user._id %>">
    <input type="submit" value="Submit">
  </form>
  <form name="delete-nudge" action="" method="POST">
    <input type="submit" value="Delete Nudge">
  </form>
  <i class="fas fa-window-close"></i>
</div>