<div id="nudge-modal" class="modal">
  <form action="/nudges" method="POST">
    <input type="text" name="taskName" placeholder="A friendly nudge">
    <input type="text" name="scheduledFor">
    <input type="text" name="user" value="<%= user._id %>">
    <input type="submit" value="Submit">
  </form>
  <i class="fas fa-window-close"></i>
</div>